[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
selenium = "*"
ec = "*"
pytest = "*"
locator = "*"
action = "*"
basepage = "*"
pages = "*"
init = "*"
expect = "*"
expects = "==0.8.0"
pytest-expect = "*"
eql = "*"

[requires]
python_version = "3.8"
